@font-face {
    font-family: 'thailandesa';
    src: url('../fonts/thailandesa/THAILAND.TTF');
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
/*
font-family: 'Inter', sans-serif; */


body,
html {
    margin: 0;
}

.main-home {
    background-color: black;
    background-image: url('../img/newtestbg.png');
    background-repeat: no-repeat;
    min-height: 100vh;
    background-size: 85%;
    background-position: top center;
}

/* Début Header */

.ul-text-light li a {
    color: #f8f9fa;
    font-family: 'Inter', sans-serif;
}

.ul-text-light li a:hover {
    color: #f8f9fa;
    text-decoration: underline;
}

.header-title {
    font-family: 'thailandesa', sans-serif;
    margin-left: 3rem;
    font-size: 1.8rem;
}

@media screen and (max-width: 450px) {
    .header-title {
        font-size: 1.3rem;
    }
}

/* Fin header */

h1 {
    font-family: 'thailandesa';
    font-size: 3rem;
    text-align: center;
    color: white;
    text-shadow: 4px 4px 4px #000000;
}


.danger {
    color: rgb(249, 131, 131) !important;
}

.login-error {
    position: absolute;
    top: 3rem;
    left: 1rem;
}

.preview-img img {
    height: 250px;
    width: 250px;
}

.preview-img {
    position: relative;
}

.preview-img-delete {
    position: absolute;
    bottom: 1%;
    right: 0%;
}

.logo-main-img {
    width: 15%;
    margin-left: 2rem;
    margin-top: 2rem;
}

.gap-6 {
    gap: 4rem;
}

.gap-7 {
    gap: 5rem;
}

/* Media Queries */


/* @media screen and (max-width: 768px) {
    body {
        background-image: url('../img/bgpluspetit.png');
        background-position: unset;
        background-size: auto;
    }
}

@media screen and (min-width: 2000px) {
    body {
        background-image: url('../img/bgplusgrand.png');
    }
} */