@font-face {
    font-family: 'thailandesa';
    src: url('../fonts/thailandesa/THAILAND.TTF');
}

.thai-font {
    font-family: 'thailandesa', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

.inter-font {
    font-family: 'Inter', sans-serif;
}


body,
html {
    margin: 0;
    overflow-x: hidden;
    width: 100vw;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Début landing page */

.main-home-background-container {
    background-color: black;
    background-image: url('../img/newtestbg.png');
    background-repeat: no-repeat;
    min-height: 90vh;
    background-size: 85%;
    background-position: top center;
}

.logo-home-img {
    width: 10%;
    margin-left: 4rem;
    margin-top: 2rem;
}

@media screen and (max-width: 768px) {
    .main-home-background-container {
        background-size: cover;
        min-height: 50vh;
    }

    .logo-home-container {
        display: none;
    }
}

@media screen and (max-width: 575px) {
    .main-home-background-dark {
        --bs-bg-opacity: 0.5;
        background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
    }
}

/* Fin landing page */


/* Début Header */

.ul-text-light li a {
    color: #f8f9fa;
    font-family: 'Inter', sans-serif;
}

.ul-text-light li a:hover {
    color: #f8f9fa;
    text-decoration: underline;
}

.header-title {
    font-family: 'thailandesa', sans-serif;
    margin-left: 3rem;
    font-size: 1.8rem;
}

.header-title-link {
    text-decoration: none;
}

.header-title-link:hover {
    text-decoration: none;
}

.nav-active-link {
    font-weight: bold;
}

.nav-link:hover {
    text-decoration: none !important;
}



@media screen and (max-width: 450px) {
    .header-title {
        font-size: 1.3rem;
    }
}

/* Fin header */

h1 {
    font-family: 'thailandesa';
    font-size: 3rem;
    text-align: center;
    color: white;
    text-shadow: 4px 4px 4px #000000;
}


.danger {
    color: rgb(249, 131, 131) !important;
}

.login-error {
    position: absolute;
    top: 3rem;
    left: 1rem;
}

.preview-img img {
    height: 125px;
    width: 125px;
}

.preview-img {
    position: relative;
}

.preview-img-delete {
    position: absolute;
    bottom: 1%;
    right: 0%;
}



.gap-6 {
    gap: 4rem;
}

.gap-7 {
    gap: 5rem;
}

/* DASHBOARD TEMPLATE */

.main-dashboard {
    min-height: 100vh;
}

.h2-dashboard {
    font-family: 'Inter', sans-serif;
    font-size: 1.2rem;
    text-align: center;
}

.navbar-dashboard {
    border-top: 1px solid yellow;
    border-bottom: 1px solid yellow;
    padding: 3rem 0;
}

.title-dashboard a {
    text-decoration: none;
    color: #f8f9fa;
    /* text-light */
}

.title-dashboard a:hover {
    color: rgb(209, 209, 0);
    transition: 0.3s;
}


.navbar-dashboard a {
    color: #f8f9fa;
    /* text-light */
}

.navbar-dashboard a:hover {
    background-color: #000000;
    transition: 0.1s;
    color: #f8f9fa;
}

.navbar-active-link {
    background-color: #000000;
    color: #f8f9fa;
}

/* FIN DASHBOARD TEMPLATE */

/* DASHBOARD */

.div-dashboard {
    font-family: 'Inter', sans-serif;
    min-height: 85vh;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.25);
    max-height: fit-content;
    overflow-x: hidden;
}

.main-dashboard {
    width: 100vw;
}

.fs-7 {
    font-size: 0.8rem;
}

.active-tab {
    background-color: #000000;
    color: #f8f9fa;
}

.dashboard-tabs {
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.dashboard-return {
    text-decoration: none;
    color: #f8f9fa;
}

@media screen and (max-width: 400px) {
    .dashboard-tabs {
        padding: 0.5rem 0rem;
    }
}

/* .logout-button {
    position: absolute;
    left: 86%;
} */

.preview-pdf {
    height: 100vh !important;
}